{%extends 'base.html'%}

{%block mainblock%}

<br><br><br><br><br>
{%if form.errors%}
  {{form.errors}}
{%endif%}
<div class="container">
    <form action="" method="post" enctype="multipart/form-data" class="border border p-4">
        {%csrf_token%}
        <div class="row">
            <h2 class="text-center fw-light">Add Job</h2>
                <hr>
            <div class="col-lg-6 col-12 text-danger">
                
                <label for="">Title:</label>
                <input type="text" name="title"  class="form-control">
                <label for="">Description:</label>
                <textarea name="description"  class="form-control" rows="2"></textarea>
                <label for="">Salary:</label>
                <input type="number" name="salary"  class="form-control">
                <label for="">Experience:</label>
                <input type="number" name="experience"  class="form-control">
                <label for="">Last date:</label>
                <input type="date" name="last_date" class="form-control">
                
                
                
                    
                  
            </div>
            <div class="col-lg-6 col-12 text-danger">
                <label for="">Vacancies:</label>
                    <input type="number" name="vacancies"  class="form-control">
                    <label for="">Poster:</label>
                    <input type="file" name="poster"  class="form-control">
                    <label for="">Contact:</label>
                    <input type="number" name="contact"  class="form-control">
                    <label for="">Qualification:</label>
                    <input type="text" name="qualification"  class="form-control">
                    <label for="">Company:</label>
                    <input type="text" name="company" class="form-control">
                    <label for="">Category:</label>
                    {{form.category}}
                    <label for="">Job Type:</label>
                    {{form.job_type}}
    
                
            </div>
          
        </div>
        <div class="row">
            <div class="col-12 mt-4">
                <div class="d-grid gap-2"><button class="btn btn-outline-danger" type="submit">Add</button></div>
            </div>
        </div>
    </form>

</div>





{%endblock%}