{%extends 'base.html'%}

{%block mainblock%}

<br><br><br><br><br>

<div class="container">
    <div class="row">
        <h3 class="text-center">All Applications</h3>
        <table class="table table-dark">
            <tr>
                <th class="">Job</th>
                <th class="">Applicant Name</th>
                <th class="">Status</th>
                <th class="">Applied date</th>
                <th class="">Action</th>
            </tr>
            {%for a in all_applications%}

            <tr>
                <td class="">{{a.job}}</td>
                <td class="">{{a.student}}</td>
                <td class="">{{a.status}}</td>
                <td class="">{{a.applied_date}}</td>
                <td class="">
                    <a href="{%url 'application_detail' a.id%}">View</a>
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>




{%endblock%}